<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EngMan</title>
    <link rel="stylesheet" th:href="@{/global.css}" >
</head>
<body>
<div th:replace="@{/fragments/header} :: title" class="header"></div>
<div th:replace="@{/fragments/header} :: menu" class="menu"></div>

<div class="content">
    <h2>Welcome to EngMan</h2>
    <p>This is a Engineer Management Tool.</p>
</div>
</body>
</html>
